<div class="container">
  <h2 class="text-center text-info">{{title}}</h2>
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <input type="number" placeholder="Search" class="form-control" [(ngModel)]="textboxsrh"/>
       
      </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
         <td>image </td>
         <td>productname </td>
         <td>productcode </td>
         <td>Price </td>
    
      </tr>
    </thead>
    <tbody>
       <tr *ngFor='let pro of product | filterproduct: textboxsrh'>
         
           <td > 
             <img  [src]='pro.Frontimage' [style.width.px]='width' [style.height.px]='height' (mouseover)="changeover($event,pro.Backimage)" (mouseout)="changeout($event,pro.Frontimage)"> 
            <!-- <span *ngIf="!changeText">Hide</span>
            <span *ngIf="changeText">Show</span> -->
          </td>
           <td> {{pro.productname}} </td>
           <td> {{pro.productcode}} </td>
           <td *ngIf='pro.Price<=100' [style.color]='color'>  {{pro.Price}} </td>
           <td *ngIf='pro.Price <=750 && pro.Price>100' [style.color]='color1'>  {{pro.Price}} </td>
           <td *ngIf='pro.Price >750' [style.color]='color2'>  {{pro.Price}} </td>
       </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>

</div>
